footer {
    background-color: #744897;
    border-radius: 1rem;
  }
 
  .footer-content {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  }
  .secciones{
    text-align: left;
  }
  .links {  
    list-style: none;
    
  }
  
  .links li {
    display: inline-block;
    margin-right: 10px;
    
  }
    
  .links a {
    color: #ffffff;
  }
  .links h2 {
    color: #ffffff;
    font-size: medium;
  }
  .secciones h2 {
    color: #ffffff;
    font-size: medium;
  }
  .secciones h3{
    color: #ffffff;
    font-size: medium;
  }
  .horario{
    background-color: #ffffff;
    color: #a91b60;
    border-radius: 10px;
    font-size: medium;
  }
  
  /* 
Lista de colores "Morados" utilizados en la floristeria
    #af6aae 
    #a91b60
    #8463af
    #744897
    #aa5297

*/