footer {
    
    padding: 25px;
    text-align: center;
    border-radius: 1rem;
    height: 1px;

  }
 
  .footer-content {
    
    flex-wrap: wrap;
    justify-content: left;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  }
  

  .footer-content h2{
    font-size: medium;
    
  }
  
  .footer-links {
    margin-left: 20px;
    list-style: none;
    padding: 0;
    
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
    
  .footer-links a {
    color: #ffffff;
  }
  
  /* 
Lista de colores "Morados" utilizados en la floristeria
    #af6aae 
    #a91b60
    #8463af
    #744897
    #aa5297

*/