body{
    margin: 0;
    background-color: #744897;
}

main {
    display: block;
    flex-grow: 1;

  }

  /* 
Lista de colores "Morados" utilizados en la floristeria
    #af6aae 
    #a91b60
    #8463af
    #744897
    #aa5297

*/