body{
    margin: 0;
    background-color: #744897;
}

main {
    display: block;
    flex-grow: 1;

  }
.opciones{
    text-align: right;
    margin-right: 10px;
}

#inicio{
    border-radius: 10px;
    color: #744897;
    background-color: #af6aae;
    border-color:#744897; 
}
#banner{
    text-align: center;
    
}



#comidas{
    display: flex;
    height: 500px;
    justify-content:center;
    align-items: center; 
    

    
}
.hijo{
    margin-left: 30px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
    height: 80%;
    width: 20%;
}
#WS{
    background-color: #008069;
    width: 100px;
    height: 40px;
    border-color: black;
    border-radius: 10px;
}
#WSa{
    color: #ffffff;
}
  /* 
Lista de colores "Morados" utilizados en la floristeria
    #af6aae 
    #a91b60
    #8463af
    #744897
    #aa5297

*/