<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<footer>
    
    <div class="footer-content">
        <div class="secciones">
            <h2>Secciones:</h2>
            <h3><a href="./QuienesSomos.html" target="_parent">Quienes Somos</a></h3>
        </div>
        <div class="horario">
            <h2>Horario:</h2>
            <h3>Lunes a Jueves y Sabado 8:00am - 7:30pm, Viernes 8:00am - 8:00pm Domingo 8:00am - 6:00pm</h3>
            <p>Este horario puede variar en fechas festivas, en dicho caso se avisará por redes sociales</p>
        </div>

        <ul class="links">
            <h2>Contactenos:</h2>
            <li><a href="https://www.facebook.com/MoraviaFloral" target="_blank">FACEBOOK</a></li>
            <li><a href="https://www.instagram.com/moraviafloral/?hl=es" target="_blank">INSTAGRAM</a></li>
            <li><a href="https://goo.gl/maps/z5yQATpryRgU9Kxr6" target="_blank">UBICACIÓN</a></li>
        </ul>
    
    </div>
    <hr>    
    <p>
        &copy; 2023. All rights reserved - Correo: <a href="mailto:info@example.com">info@example.com</a> - Telefono: +506 2236-7192/+506 6310-6986 
    </p>
  </footer>
</html>