<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<footer>
    <hr>
    <div class="footer-content">
        <h2>Contactenos:</h2>
        <ul class="footer-links">
            
            <li><a href="https://www.facebook.com/MoraviaFloral" target="_blank">FACEBOOK</a></li>
            <li><a href="https://www.instagram.com/moraviafloral/?hl=es" target="_blank">INSTAGRAM</a></li>
            <li><a href="https://goo.gl/maps/z5yQATpryRgU9Kxr6" target="_blank">UBICACIÓN</a></li>
        </ul>
    </div>
    
    <p>
        &copy; 2023. All rights reserved - Correo: <a href="mailto:info@example.com">info@example.com</a> - Telefono: +506 2236-7192/+506 6310-6986 - Horario: Lunes a Jueves y Sabado 8:00am - 7:30pm, Viernes 8:00am - 8:00pm Domingo 8:00am - 6:00pm
    </p>
  </footer>
</html>