<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<footer>
    <div class="footer-content">
        <p>
            &copy; 2023. All rights reserved - Correo: <a href="mailto:info@example.com">info@example.com</a> - Telefono: +50612345678 - Horario: Martes a Domingo 11 am - 9 pm
        </p>

        <h2>Contactenos:</h2>
        <ul class="footer-links">
            <li><a href="https://www.facebook.com/MoraviaFloral">FACEBOOK</a></li>
            <li><a href="https://www.instagram.com/moraviafloral/?hl=es">INSTAGRAM</a></li>
            <li><a href="https://goo.gl/maps/z5yQATpryRgU9Kxr6">Dirección</a></li>
        </ul>
    </div>
    <hr>
  </footer>
</html>