<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<header>
    <div class="header">
        <div class="logo">   
            <h1><img src="../imag/MF_logo.png" width="65" height="65" alt="logo"> Moravia Floral</h1>
        </div>
            <div class ="nav">
                <nav class="navbar">                  
                    <a href="index.html">Inicio</a>
                    <a href="productos.html">Productos</a> 
                    <a href="../form_contact.html">Contactenos</a>             
                </nav>
                <div class="opciones">
                    <button><a href="">Inicar sesion</a></button>
                </div>  
            </div>    
        </div>
    </div>
</header>
</html>