<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<header>
    <div class="header">
        <div class="logo">   
            <img src="../imag/MF_logo.png" width="70" height="70" alt="logo">
        </div>
        <div class="titulo">   
            <h1>Moravia Floral</h1>
        </div>
        <nav class="navbar">                  
            <a href="../index.html" target="_parent">Inicio</a>
            <a href="../productos.html" target="_parent">Productos</a> 
            <a href="../form_contact.html" target="_parent">Contactenos</a>             
        </nav>  
    </div>
</header>
</html>