<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/QuienesSomos.css">
    <title>Quienes somos</title>
</head>
<!-- Llamado del template del navbar-->
<object data="./navbar.html" width="100%" height="100%"></object> 

<body>
   
        <div class="QN">
            <h1>Quienes Somos</h1>
            <h3>sdhjflkdzhjflkdhjlkdfnlknjlakerfiduhfgiudoifuduiohhhhhhojfnlkdsjnlfulufkl
                jnlkfneaiuurfiuafiunalunfiausdnfiabeorfboeaufoiuasfoiubfaioufofbouabfou
                ljbjfldsbflsbfbsbsbldmfñslmdfñsndflkanjndfjnndfn
            </h3>
        </div>
    
    



</body>



<!-- Llamado del template del footer-->
<footer id="footer">
    <object data="./footer.html" width="100%" height="100%"></object>        
    
</footer>
  
</html>