<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/form_contact.css">
    <title>Contacto_MoraviaFloral</title>
</head>
<object data="./templates/navbar.html" width="100%" height="100%"></object> 
<body>
    <fieldset id="formFieldset">
        <legend><h1>Informacion y Formulario de Contacto</h1></legend>
        <div class="formulario">
            <h2><label for="txtNombre">Nombre Completo:</label>
            <input type="text" name="nombre" id="txtNombre" placeholder="Digite su Nombre Completo"></h2>

            <h2><label for="txtCorreo">Email:</label>
            <input type="text" name="email" id="txtCorreo" placeholder="Digite su email"></h2>

            <h2><label for="txtTel">Telefono:</label>
            <input type="text" name="tel" id="txtTel" placeholder="Digite su telefono"></h2>
        </div>
    </fieldset>
    <br>
    <div id="mapa">
        <h2> Ubicacion </h2>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.706356287428!2d-84.04721769999999!3d9.9583712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e4686774543b%3A0x9422fa18a9560d2d!2sMoravia%20Floral!5e0!3m2!1ses!2scr!4v1687995038708!5m2!1ses!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</body>
<footer id="footer">
    <object data="./templates/footer.html" width="100%" height="100%"></object>        
</footer>
</html>