<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/form_contact.css">
    <title>Contact</title>
</head>
<body>
    <h1>Informacion y Formulario de Contacto</h1>

    <label for="txtNombre">Nombre Completo:</label>
        <input type="text" name="nombre" id="txtNombre" placeholder="Digite su Nombre Completo">

        <label for="txtCorreo">Email:</label>
        <input type="text" name="email" id="txtCorreo" placeholder="Digite su email">

        <label for="txtTel">Telefono:</label>
        <input type="text" name="tel" id="txtTel" placeholder="Digite su telefono">
</body>
</html>