<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="./css/productos.css">
</head>

<!-- Llamado del template del navbar-->
<object data="./templates/navbar.html" width="100%" height="100%"></object> 

<body>
    
    <div class="productos">
        <section class="producto">
            AGREGAR INFORMACION DE PRODUCTO
            <!-- <img src="./assets/imgs/sushi.png" alt="sushi">
            <h3>Sushi</h3>
            <h4>Precio: $<span id="sushi"></span></h4>
            <p></p>
            <input type="number" id="cant_sushi" class="input-number" placeholder="Digite la cantidad" value="1">
            <button onclick="calcularTotal(p_sushi, 'sushi')" class="boton">Agregar</button> -->
        </section>

        <section class="producto">
            AGREGAR INFORMACION DE PRODUCTO
            <!-- <img src="./assets/imgs/gyosas.png" alt="gyosas">
            <h3>Gyosas</h3>
            <h4>Precio: $<span id="gyosas"></span></h4>
            <p></p>
            <input type="number" id="cant_gyosas" class="input-number" placeholder="Digite la cantidad" value="1">
            <button onclick="calcularTotal(p_gyosas, 'gyosas')" class="boton">Agregar</button> -->
        </section>     

        <section class="producto">
            AGREGAR INFORMACION DE PRODUCTO
            <!-- <img src="./assets/imgs/ramen.png" alt="ramen">
            <h3>Ramen</h3>
            <h4>Precio: $<span id="ramen"></span></h4>
            <p></p>
            <input type="number" id="cant_ramen" class="input-number" placeholder="Digite la cantidad" value="1">
            <button onclick="calcularTotal(p_ramen, 'ramen')" class="boton">Agregar</button> -->
        </section> 

        <section class="producto">
            AGREGAR INFORMACION DE PRODUCTO
            <!-- <img src="./assets/imgs/salmon.png" alt="salmon" style="border-radius: 50%;">
            <h3>Salmon</h3>
            <h4>Precio: $<span id="salmon"></span></h4>
            <p></p>
            <input type="number" id="cant_salmon" class="input-number" placeholder="Digite la cantidad" value="1">
            <button onclick="calcularTotal(p_salmon, 'salmon')" class="boton">Agregar</button> -->
        </section>
    </div>

</body>

<!-- Llamado del template del footer-->
<footer id="footer">
    <object data="./templates/footer.html" width="100%" height="100%"></object>        
</footer> 

</html>